{{- $js := "js/application.js" | relURL -}}
<script type="text/javascript"> var isPopup ={{ .popup }}</script>
<script src="{{ $js }}"></script>
<script type="text/javascript">

// add scripts here

  // jQuery is required to run this code
  $( document ).ready(function() {
    scaleVideoContainer();
    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
      scaleVideoContainer();
      scaleBannerVideoSize('.video-container .poster img');
      scaleBannerVideoSize('.video-container .filter');
      scaleBannerVideoSize('.video-container video');
    });
  });

  function scaleVideoContainer() {
    var height = $(window).height();
    height = height * .9;
    var unitHeight = parseInt(height) + 'px';
    $('#bg-vid').css({'height': unitHeight});
  }

  function initBannerVideoSize(element){
    $(element).each(function(){
      $(this).data('height', $(this).height());
      $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);
  }

  function scaleBannerVideoSize(element) {

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() - 5,
    videoWidth,
    videoHeight;

    // console.log(windowHeight);

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
             $(this).css({'top' : '50%', 'left' : '50%'});
             $(this).width(windowWidth).height(windowHeight);
        }

      //$('#bg-vid .video-container video').addClass('fadeIn animated');

    });
  } 

</script>